In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("CSVsales.csv")

In [5]:
df=pd.read_csv("Supermarket_sales.csv")

In [6]:
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [7]:
df.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [9]:
df.tail()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [10]:
df.InvoiceID

0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
995    233-67-5758
996    303-96-2227
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: InvoiceID, Length: 1000, dtype: object

In [11]:
df.InvoiceID[1]

'226-31-3081'

In [13]:
df.City[48]

'Mandalay'

In [16]:
df.Branch[99]

'B'

In [19]:
df.Customertype[999]

'Member'

In [20]:
df.shape

(1000, 18)

In [22]:
if df.City[18]=="Yangon":
  print(df.Branch[18])

A

In [23]:
if df.Customertype[100]=="Member":
  print(df.InvoiceID[100])

163-56-7055

In [24]:
df.Unitprice.max()

99.96

In [26]:
df.Unitprice.min()

10.08

In [27]:
df.Unitprice.mean()

55.67213

In [28]:
df.Quantity.max()

10

In [29]:
df.Quantity.min()

1

In [30]:
df.Quantity.mean()

5.51

In [37]:
df.Quantity.loc[df["Productline"]=="Health and beauty"].max()

10

In [38]:
df.Quantity.loc[df["Productline"]=="Health and beauty"].min()

1

In [39]:
df.Quantity.loc[df["Productline"]=="Health and beauty"].mean()

5.618421052631579

In [41]:
df.Unitprice.loc[df['Productline']=="Health and beauty"].max()

99.96

In [42]:
df.Unitprice.loc[df['Productline']=="Health and beauty"].min()

10.08

In [43]:
df.Unitprice.loc[df['Productline']=="Health and beauty"].mean()

54.85447368421053

In [45]:
df.Quantity.loc[df["Productline"]=="Electronic accessories"].max()

10

In [46]:
df.Quantity.loc[df["Productline"]=="Electronic accessories"].min()

1

In [47]:
df.Quantity.loc[df["Productline"]=="Electronic accessories"].mean()

5.711764705882353

In [64]:
df.Gender.loc[(df["Productline"]=="Health and beauty") & (df["Gender"]=="Male")].count()

88

In [65]:
df.Gender.loc[(df["Productline"]=="Fashion accessories") & (df["Gender"]=="Female")].count()

96

In [68]:
df.Gender.loc[(df["Productline"]=="Fashion accessories") | (df['Productline']=="Sports and travel") &(df["Gender"]=="Female")].count()

266