In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("Supermarket_sales.xlsx")

In [64]:
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-05-01 00:00:00,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-08-03 00:00:00,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03 00:00:00,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-08-02 00:00:00,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-02-03 00:00:00,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-09-02 00:00:00,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [4]:
df.Unitprice.min()

10.08

In [6]:
df.Unitprice.max()

99.96

In [7]:
df.Unitprice.sum()/df.Unitprice.count()

55.67213

In [8]:
df.Quantity.min()

1

In [9]:
df.Quantity.max()

10

In [10]:
df.Quantity.mean()

5.51

In [11]:
df.loc[df['Productline']=="Health and beauty"]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-05-01 00:00:00,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,2019-10-01 00:00:00,17:15:00,Credit card,72.52,4.761905,3.6260,7.2
14,15,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21:00,Cash,713.80,4.761905,35.6900,5.7
16,17,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,2019-11-03 00:00:00,11:03:00,Credit card,482.51,4.761905,24.1255,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,984,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33:00,Cash,699.72,4.761905,34.9860,6.1
986,987,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2/18/2019,14:42:00,Ewallet,29.52,4.761905,1.4760,4.3
987,988,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,2019-03-01 00:00:00,19:08:00,Credit card,496.00,4.761905,24.8000,6.2
989,990,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46:00,Credit card,602.96,4.761905,30.1480,8.4
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2

In [12]:
df['Quantity'].loc[df['Productline']=="Health and beauty"]

0       7
3       8
8       2
14     10
16      7
       ..
983     7
986     2
987     8
989     8
995     1
Name: Quantity, Length: 152, dtype: int64

In [13]:
df['Quantity'].loc[df['Productline']=="Health and beauty"].max()

10

In [14]:
df['Quantity'].loc[df['Productline']=="Health and beauty"].min()

1

In [15]:
df['Quantity'].loc[df['Productline']=="Health and beauty"].mean()

5.618421052631579

In [16]:
df['Unitprice'].loc[df['Productline']=="Health and beauty"]

0      74.69
3      58.22
8      36.26
14     71.38
16     68.93
       ...
983    99.96
986    14.76
987    62.00
989    75.37
995    40.35
Name: Unitprice, Length: 152, dtype: float64

In [20]:
df['Unitprice'].loc[df['Productline']=="Health and beauty"].max()

99.96

In [21]:
df['Unitprice'].loc[df['Productline']=="Health and beauty"].min()

10.08

In [22]:
df['Unitprice'].loc[df['Productline']=="Health and beauty"].mean()

54.85447368421053

In [23]:
df['Quantity'].loc[df['Productline']=="Electronic accessories"]

1       5
5       7
6       6
11      4
12      5
       ..
978     1
984     7
988    10
992     2
994     1
Name: Quantity, Length: 170, dtype: int64

In [24]:
df['Quantity'].loc[df['Productline']=="Electronic accessories"].max()

10

In [25]:
df['Quantity'].loc[df['Productline']=="Electronic accessories"].min()

1

In [26]:
df['Quantity'].loc[df['Productline']=="Electronic accessories"].mean()

5.711764705882353

In [62]:
df['Quantity'].loc[(df["Productline"]=="Health and beauty") & (df["Gender"]=="Male")].sum()

511

In [65]:
df['Quantity'].loc[(df["Productline"]=="Fashion accessories") & (df["Gender"]=="Female")].sum()

530